#grid-overlay {
  --green: rgba(194, 221, 182, 0.4);
  --blue: rgba(141, 187, 226, 0.4);
  --lightgreen: rgba(194, 221, 182, 0.1);
  --lightblue: rgba(141, 187, 226, 0.1);
  --lightpink: rgba(255, 0, 220, 0.1);
  --pink: rgba(255, 0, 220, 0.4);
  --white: rgba(255, 255, 255, 0.8);
  --transparent: rgba(255, 255, 255, 1);
  pointer-events: none;
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.grid-overlay-row {
  position: absolute;
  outline: 1px dotted var(--pink);
  /* Counters the fact grid-overlay isn't enclosed in container */
  flex-wrap: nowrap !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
}

.grid-overlay-container {
  position: absolute;
  outline: 1px dotted var(--lightpink);
  background-image: linear-gradient(to bottom, var(--lightblue) 0%, var(--lightblue) 100%), linear-gradient(to bottom, var(--lightgreen) 0%, var(--lightgreen) 100%);
  background-clip: content-box, padding-box;
}

.grid-overlay-col {
  min-width: 0;
  min-height: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  color: var(--white);
  background-image: linear-gradient(to bottom, var(--blue) 0%, var(--blue) 100%), linear-gradient(to bottom, var(--green) 0%, var(--green) 100%);
  background-clip: content-box, padding-box;
}

.grid-overlay-col div {
  text-align: center;
}